.profile-page {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .profile-email {
    color: grey;
    font-size: 18px;
  }
  
  .profile-page button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #4a90e2;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .profile-page a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .profile-page a button:hover, .profile-page a:hover {
    opacity: 0.7;
  }

  .profile-pic {
    border: 2px solid black;
    border-radius: 50%;
    max-width: 50px;
  }

  .profile-title {
    color: #4a90e2;
  }